<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>
  <genre name="FPS">
    <game>
      <name>Doom</listing>
      <platforms>PC, PS4, PS5, XBOX</platforms>
      <price>49.99</price>
    </game>
    <game>
      <name>Calisto Protocol</listing>
      <platforms>PC, PS4, PS5, XBOX</platforms>
      <price>59.99</price>
    </game>
    <game>
      <name>Bioshock Infinite</listing>
      <platforms>PC, PS4, PS5, XBOX</platforms>
      <price>49.99</price>
    </game>
  </genre>
  <genre name="RPG">
   <game>
      <name>Mass Effect Remake</listing>
      <platforms>PC, PS4, PS5, XBOX</platforms>
      <price>69.99</price>
    </game>
    <game>
      <name>Baldurs Gate</listing>
      <platforms>PC, PS4</platforms>
      <price>19.99</price>
    </game>
    <game>
      <name>Fallout 4</listing>
      <platforms>PC, PS4, PS5, XBOX</platforms>
      <price>29.99</price>
    </game>
  </genre>
  <genre name="MMORPG">
    <game>
      <name>World of Warcraft</listing>
      <platforms>PC</platforms>
      <price>74.99</price>
    </game>
    <game>
      <name>Guild Wars</listing>
      <platforms>PC</platforms>
      <price>19.99</price>
    </game>
    <game>
      <name>Final Fantasy 14</listing>
      <platforms>PC, PS4, PS5</platforms>
      <price>29.99</price>
    </game>
  </genre>
  <genre name="Strategy">
    <game>
      <name>Europa Universalis 4</listing>
      <platforms>PC</platforms>
      <price>19.99</price>
    </game>
    <game>
      <name>Civilisation 6</listing>
      <platforms>PC, PS4, XBOX</platforms>
      <price>59.99</price>
    </game>
    <game>
      <name>Company of Heroes 3</listing>
      <platforms>PC</platforms>
      <price>69.99</price>
    </game>
  </genre>
  <genre name="Adventure">
    <game>
      <name>Rise of Tomb Rider</listing>
      <platforms>PC, PS4, PS5, XBOX</platforms>
      <price>29.99</price>
    </game>
    <game>
      <name>Elden Ring</listing>
      <platforms>PC, PS4, PS5, XBOX</platforms>
      <price>59.99</price>
    </game>
    <game>
      <name>Assassins Creed</listing>
      <platforms>PC, PS4, PS5, XBOX</platforms>
      <price>69.99</price>
    </game>
  </genre>
</menu>