<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>GameStore</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <!-- My styles -->
        <link href="css/myStyles.css" rel="stylesheet" />
        <!-- Material icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
            <div class="container-fluid text-center">
                <a class="navbar-brand position-relative" href="#">
                    <span class="material-icons brand-icon ">sports_esports</span><span class="brand-text position-absolute">GameStore</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#featuredContainer">Featured</a></li>
                        <li class="nav-item"><a class="nav-link" href="#menuSection">Menu</a></li>
                        <li class="nav-item"><a class="nav-link" href="#copyright">Copyright</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Special content -->
        <div class="container-fluid special-container">
            <div class="text-center lead-container">
                <img class="lead-bg" src="/assets/background-image.jpg">
                <div class="lead-content">
                    <h1 class="mb-3">Welcome to our game store</h1>
                    <p class="lead mb-4">Select games from menu below</p>
                    <a type="button" class="btn btn-warning lead-button" href="#menuSection">Games Menu</a>
                </div>
            </div>
        </div>
        
        <!-- Page content-->
        <div class="container main-content">
            <!-- Featured games content-->
            <div class="row mb-5" id="featuredContainer">
                <h2 class="featured-games-title mb-4">Featured Games</h2>
                <!-- Get featured games from server-->
                <div class="row" id="features-id"></div>    
            </div>
            <!-- Store content -->
            <div class="row" id="menuSection">
                <h2 class="mb-3">Game Menu</h2>
                <p class="lead mb-4">Select games from menu below</p>
                <div id="menu" class="col-lg-4 mb-5 order-2">
                    <h5 class="mb-4">Add games to menu</h5>
                    <form enctype="application/json" action="/post/json" method="post" class="needs-validation" novalidate>
                        <div class="form-group" name="menuFormGrup" id="menuFormGrup">
                            <label for="sec_n" class="form-label">Genre</label>
                            <select class="form-select" name="sec_n" id="sec_n">
                                <option value="0">FPS</option>
                                <option value="1">RPG</option>
                                <option value="2">MMORPG</option>
                                <option value="3">Strategy</option>
                                <option value="4">Adventure</option>
                            </select>
                            <div class="form-group mt-3">
                                <label for="name" class="form-label">Game Name</label>
                                <input class="form-control" type="text" name="name" id="name" placeholder="Game name" required>
                                <div class="invalid-feedback" for="name">
                                    Please add a game name
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label for="name" class="form-label">Platforms</label>
                                <input class="form-control" type="text" name="platforms" id="platforms"  placeholder="Platforms" required>
                                <div class="invalid-feedback" for="name">
                                    Please add available platforms
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label for="name" class="form-label">Price</label>
                                <input class="form-control" type="number" step="0.01" name="price" id="price" placeholder="Price" required>
                                <div class="invalid-feedback" for="name">
                                    Please add price
                                </div>
                            </div>
                            <div class="d-grid gap-2 mt-3">
                                <button type="submit" class="btn btn-warning btn-block">Submit</button>
                            </div>
                        </div>
                    </form>
                    <div class="d-grid gap-2">
                        <button id="delete" onclick="deleteSelectedRows()" type="button" class="btn btn-danger btn-block mt-3">Delete</button>
                    </div>

                    <div class="row basket mt-5">
                        <h5 class="mb-3">Basket</h5>
                        <div class="col-sm-12">
                            <button id="addToBasket" onclick="addToBasket()" type="button" class="btn btn-success btn-block mt-3">Get total price of selected items</button>
                        </div>
                        <div class="col-sm-12 mt-3">
                            <span class="cpy ">Total price of selected items:</span>
                            <span class="" id="totalPrice"></span>
                        </div>
                    </div>
                </div>
                <div id="results" class="col-lg-8 mb-5 order-1"></div>
            </div>

           
        </div>
        <footer class="page-footer row text-center" id="copyright">
            <div class="col-sm-12 mt-3"><span class="cpy ">Student Name:</span> <span class="student">Victor Silva</span> </div>
            <div class="col-sm-12 mt-3 mb-3"><span class="cpy">Student Number:</span> <span class="student">2021259</span> </div>
        </footer>
        <!-- Jquery -->
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- Form validation JS-->
        <script src="js/form-validation.js"></script>
            
        
    </body>
</html>
